 html::-webkit-scrollbar {
    width: 0 !important
}

body {
    font-family: 'Montserrat', sans-serif !important;
    height: 100vh;
    color: black !important;
    overflow-x: hidden;
    max-width: 100%;
}

#header {
    padding: 4% 4%;
}

#title {
    text-align: center;
    padding-bottom: 5px;
}

#email {
    padding-top: 5px;
    text-align: center;
    text-decoration: underline;
}

.a-link, .nav-link {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-decoration: underline;
}

#content {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding-bottom: 4%;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 23%;
    padding: 0px 5px;
}

.column img {
    margin: 5px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 1275px) {
    .column {
        flex: 50%;
        max-width: 46%;
        padding-left: auto;
        padding-right: auto;
    }
}

@media (max-width: 675px) {
    .column {
        flex: 100%;
        max-width: 92%;
        padding-left: auto;
        padding-right: auto;
    }
}