body {
    font-family: 'Montserrat', sans-serif !important;
    padding: 2% 2%;
    margin-bottom: 6%;
    height: 100vh;
    color: black !important;
}

#header-title {
    text-align: center;
    padding: 25px 0% 5px 0%;
    margin: 0;
}

.footer-content {
    padding: 5px 0;
}

#footer-home {
    width: 100%;
    position: relative;
    bottom: 0;
    text-align: center;
    padding: 70px auto;
    margin: 30px 0;
}

#footer-about {
    width: 96%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 70px auto;
    margin: 30px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0%;
    margin: 0;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 24%;
    padding: 0px 4px;
    margin: 0;
}

.column img {
    margin-top: 8px;
    padding: 0.5% 0.5%;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 1275px) {
    .column {
        flex: 50%;
        max-width: 47%;
        padding-left: auto;
        padding-right: auto;
    }
}

@media screen and (max-width: 675px) {
    .column {
        flex: 100%;
        max-width: 94%;
        padding-left: auto;
        padding-right: auto;
    }
}

.nav-link {
    text-align: center;
    border-bottom: 20px solid white;
    text-decoration: underline;
}