 html::-webkit-scrollbar {
    width: 0 !important
}

body {
    font-family: 'Montserrat', sans-serif !important;
    height: 100vh;
    color: white !important;
    background-color: #111111 !important;
    overflow-x: hidden;
    max-width: 100%;
}

#header {
    padding: 4% 4%;
}

#title {
    text-align: center;
    padding-bottom: 5px;
}

.navigation {
    padding-top: 5px;
    text-align: center;
}

a {
    color: white;
}

.a-link, .nav-link {
    padding-top: 5px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    text-decoration: underline;
}

#contents {
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
    padding: 0% 4% 4% 4%;
    justify-content: center;
}

.column {
    flex: 25%;
    padding: 0 5px;
}

.column img {
    padding: 5px 0;
    vertical-align: middle;
    width: 100%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}